@import "tailwindcss";

@theme {
    --color-primary-1: #014e56;
    --color-primary-2: #f67e7e;
    --color-secondary-3: #79c8c7;
    --color-secondary-4: #2c6269;
    --color-secondary-5: #004047;
    --color-secondary-6: #012f34;
    --color-secondary-7: #002529;

    --font-livvic: "Livvic", sans-serif;
}
